.all-contents{
  background-image: url('./cypress_background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}



main {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
  
}

.sidebar{
  height: 100%;

  top: 0;
}

.menuBar{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

.title {
  font-size: 1.5rem;
} 
.page{
  background-color: white;
  background-size: cover;
  opacity: 0.9;
  padding: 0px;
  height: 100%;
 
}

.app-content {
  margin: 10px;
  color: black;
 
}

