.all-contents{
  
  display: flex;
  flex-direction: row;
  height:100%;
  width: 100%;
  color: white;
  
 
}




.left-sidebar{
  width:17%;
  height: 100%;
  position: fixed;
  top: 0;
  float:left;
  overflow: auto;
  flex-shrink: 0;
  position: fixed;
  top: 0;
}

.right-column{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 17%;
  height: 100%;
  overflow-y: hidden;
}

.top{
  background: url(cypress-darkened.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  
}

.page{
  
  
 
 
  padding-top: calc(18% + 90px);
  z-index: 1;
  padding-bottom: 40px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.95);
  background-size: cover;
  
  
  
  
}



.menuBar{
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Universal Styles */

html {
  
  font-size: calc(5px + 1.5vw);
  background: url('./cypress_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 560px) {
  html {
    
    background: url('./cypress_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@500&display=swap');

.menuBar, h1, h2, .large-print{
  font-family: 'Abril Fatface', cursive;
  margin: 0px;
}

h3{
  font-family: 'Abril Fatface', cursive;
  
  margin-bottom: 0px;
  
  padding-bottom:5px;
}

p, .contact, .not-bold
.title {
  font-family: 'Raleway', sans-serif;
  
} 



.app-content {
  margin: 10px;
  color: black;
 
}

