.profile{
    display: flex;
    height: auto;
    width: auto;
    vertical-align: top;
    padding: 10px 10px 10px 0.6rem;
    margin: 0px;

   
    top: 0;
}



#headshot{
    
    width: auto;
    height: 10em;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px 30px;
    
}

.info{
    float: right;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0px !important;
    width: 50%;
    
    
    
}



.social-icon{
    margin: 0px .5rem 1rem 0px;
    background-color: transparent;
    
}

.social-links img{
    width: 1.2rem;
    height: 1.2rem;

}

h1 {
    
    padding: 0;
    text-align: left;
    position: static;
    
  
    color: #fff;
  }