.profile{
    display: flex;
    height: 260px;
    width: auto;
    vertical-align: top;
    padding: 10px;
    position: fixed;
    background: url('./cypress-darkened.jpg') no-repeat center center fixed;
    background-size: 99.75%;
    width: 100%;
    z-index: 1;
    top: 0;
}
.opacityBox{
    background-color: black;
    opacity: .7;
    width: auto;
    height: auto;
    z-index: 2;
    top: 0;
    justify-content: left;
    
}


#headshot{
    
    width: auto;
    height: 250px;
   
    
}

.info{
    float: right;
    display: inline-block;
    margin-left: 15px;
    
    
    
}

.social-links{
    display: flex;
    margin-top: 10px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    background-color: transparent;
    
}

.social-icon{
    margin: 0px 10px 10px 0px;
    background-color: transparent;
}

h1 {
    
    padding: 0;
    text-align: left;
    position: static;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: #fff;
  }