.profile{
    display: flex;
    height: auto;
    width: auto;
    vertical-align: top;
    padding: 10px;
    margin: 0px;

   
    top: 0;
}



#headshot{
    
    width: auto;
    height: 10em;
    margin-left: 15px;
    margin-right: 5px;
    border-radius: 10px 30px;
    
}

.info{
    float: right;
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px !important;
    
    
    
    
}

.social-links{
    display: flex;
    margin-top: 10px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    background-color: transparent;
    
}

.social-icon{
    margin: 0px 10px 10px 0px;
    background-color: transparent;
}

h1 {
    
    padding: 0;
    text-align: left;
    position: static;
    
  
    color: #fff;
  }