.menuBar {
  
  width: auto;
  
  margin: 0;
  padding: 0;
  background-color: rgb(73, 121, 136, 0.8);
  /*background-image: url('../App/sunny.jpg');
  background-size: cover;
  background-repeat: no-repeat aha;
  */
  }
 

  
  .menuOptions ul {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0px;
    padding: .5rem;
    flex: auto;
    list-style-type: none;
    
  }
  
  .menuOptions a{
    cursor: pointer;
    
    font-family: 'Abril Fatface', cursive;
    
    line-height: 1;
    text-align: left;
    
    transition: color 1s;
    display: flex;
    text-decoration: none;
    
  }
  .menu_item a {
    color: black;
    font-size: 1.2rem;
    margin: 2.5vh 5px 6vh 2px;
    
  }
  
  .menu_item_active a{
    margin: .4rem 5px 6vh 2px;
    letter-spacing: 0.1rem;
    padding: 0 0 5px 0;
    font-weight: 200;
    
    border-bottom:  solid #f0c36c;
    font-size: 1.6rem;
    color: #f0c36c;
  }

  .menuOptions a:hover {
    color: #d4cfcf;
  }
